.comment-box p {
    padding: 0;
    margin: 0;
}

.comment-box a {
    text-decoration: underline !important;
    cursor: pointer;
}

.comment-form {}

.comment-form a {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    bottom: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    transform: rotateZ(45deg);
}