<div class="container mt-5">
    <div class="section-header">
        <h4>Create new Post</h4>
        <hr />
    </div>
    <div class="section-body">
        <alert></alert>
        <form [formGroup]="postForm" (ngSubmit)="savePost()">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid': isSubmitted && f.title.errors }" />
                        <div *ngIf="isSubmitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                            <div *ngIf="f.title.errors.minlength">
                                Title minlength should be atleast 6
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <angular-editor formControlName="body" [config]="editorConfig" [ngClass]="{ 'is-invalid': isSubmitted && f.body.errors }"></angular-editor>
                        <div *ngIf="isSubmitted && f.body.errors" class="invalid-feedback">
                            <div *ngIf="f.body.errors.required">Content is required</div>
                            <div *ngIf="f.body.errors.minlength">
                                Content minlength should be atleast 6
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="card">
                            <select class="form-control" formControlName="status" (change)="changeStatus($event)">
                <option value="draft" [selected]="true">draft</option>
                <option value="published">Published</option>
              </select>

                            <button [disabled]="loading || savingCategory" type="submit" class="btn btn-primary mt-2">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Save Post
              </button>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <div class="categories-box d-flex flex-column card">
                            <div *ngIf="Categories === undefined; else CategoriesLoaded" class="d-flex justify-content-center">
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            </div>
                            <ng-template #CategoriesLoaded>
                                <label *ngFor="let data of Categories; let i = index" class="form-check-label">
                  <input
                    type="checkbox"
                    #checkboxes
                    class=""
                    [value]="data._id"
                    (change)="onCategoryChange($event)"
                  />
                  <span>{{ data.name }}</span>
                </label>
                            </ng-template>
                        </div>
                        <div *ngIf="isSubmitted && f.categories.errors" class="mt-2">
                            <div *ngIf="f.categories.errors.required" class="text-danger">
                                Please select atleast one category.
                            </div>
                        </div>
                        <div class="my-3">
                            <h5>Add new Category</h5>
                            <div class="d-flex flex-row">
                                <div>
                                    <input type="text" class="form-control" formControlName="newCategory" placeholder="Category Name" [ngClass]="{ 'is-invalid': f.newCategory.errors }" />
                                    <div *ngIf="f.newCategory.errors" class="invalid-feedback">
                                        <p *ngIf="f.newCategory.errors.required" [ngStyle]="{ fontSize: '80%' }" class="text-danger">
                                            Category name is required
                                        </p>
                                    </div>
                                </div>

                                <button [disabled]="savingCategory" [ngStyle]="{ height: 'fit-content' }" type="button" class="btn btn-primary ml-3 d-flex align-items-center" (click)="saveCategory($event)">
                  <span
                    *ngIf="savingCategory"
                    class="spinner-border spinner-border-sm mr-1"
                  >
                  </span>
                  Save
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Set Featured Image</label>
                        <input type="file" #fileInput (change)="onFileChange($event)" [ngClass]="{
                'is-invalid': isSubmitted && f.featuredImage.errors
              }" />
                        <input type="hidden" name="fileHidden" formControlName="featuredImage" />

                        <div *ngIf="isSubmitted && f.featuredImage.errors" class="invalid-feedback">
                            <div *ngIf="f.featuredImage.errors.imageType">
                                Only jpg,png,jpeg files are allowed
                            </div>
                            <div *ngIf="f.featuredImage.errors.maxSize">
                                Max file size is 2MB
                            </div>
                        </div>

                        <div *ngIf="featuredImage && featuredImage !== ''" class="mt-3">
                            <img [src]="featuredImage" [alt]="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>